[submodule "sites/all/modules/link"]
	path = sites/all/modules/link
	url = http://git.drupal.org/project/link
[submodule "sites/all/modules/field_permissions"]
	path = sites/all/modules/field_permissions
	url = http://git.drupal.org/project/field_permissions.git
